@keyframes pageLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes bounce {
    from {
        transform: translateY(-.25rem);
    }

    to {
        transform: translateY(.25rem);
    }
}