@use '../abstracts/' as *;

.contact {
    background-color: $background-color;
    width: 100%;

    &__content {
        animation: pageLoad 2s forwards;
    }

    &__heading {
        max-width: 14ch;
    }

    &__informations {

        iframe {
            border: 0;
            height: 22.5rem;
            width: 100%;
            max-width: 33.125rem;
            border-radius: .25rem;
            margin-bottom: 2rem;
        }
    }

    &__links {
        flex-direction: column;
        gap: .875rem;

        @include breakpoint(large) {
            flex-direction: row;
            gap: 6rem;
        }
    }

    &__item {
        
        &:not(:last-child) {
            margin-bottom: .875rem;
        }
    }

    &__icon {
        display: inline-flex;
        width: 1.5625rem;
        height: 1.5625rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: .125rem solid $white;
        margin-right: .625rem;
    }
}