@use '../abstracts/' as *;

.hero {
    background-color: $background-color;
    width: 100%;

    &__content {
        animation: pageLoad 2000ms forwards;
    }

    &__heading {
        line-height: 1.2em;
        max-width: 14ch;
    }

    &__image {
        font-size: 0;
        padding: .25rem 0;
        animation: bounce 1000ms alternate-reverse infinite;
    }
}