@use '../abstracts/' as *;

.why-us {
    background-color: $background-color;
    width: 100%;

    &__reasons {
        flex-direction: column;
        gap: .875rem;

        @include breakpoint(large) {
            flex-direction: row;
            gap: 6rem;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: .875rem;
        }
    }

    &__icon {
        display: inline-flex;
        width: 1.5625rem;
        height: 1.5625rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: .125rem solid $white;
        margin-right: .625rem;
    }

    &__image {
        padding: .25rem 0;
        animation: bounce 1000ms alternate-reverse infinite;
    }
}