@use '../abstracts/' as *;
.faq {
    display: inline-block;
    
    &__container.activefaq &__question {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $white;
        border-color: $white;
    }

    &__container.activefaq &__icon {
        border: .125em solid $background-color;
    }
    
    &__container.activefaq &__icon > span:last-child {
        width: 0;
    }
    
    &__container.activefaq &__answer {
        max-height: max-content;
        border: .125em solid $white;
        border-top: none;
    }
    
    &__question {
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       padding: 1rem;
       border: .125em solid $white;
       border-radius: .25em;
       cursor: pointer;
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 2.25rem;
        width: 2.25rem;
        border: .125rem solid $white;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        
        @include breakpoint(large) {
            height: 3.125rem;
            width: 3.125rem;
        }     
    }
    
    &__line {
        display: block;
        height: .1875rem;
        width: 1.25rem;
        background-color: $black;
        border-radius: 100vmax;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        @include breakpoint(large) {
            height: .25rem;
            width: 1.75rem; 
        }
    
        &:last-child {
            transform: translate(-50%, -50%) rotate(90deg);
            left: 50%;
            top: 50%;
        }
    }

    &__answer {
        background-color: $white;
        border-bottom-left-radius: .25em;
        border-bottom-right-radius: .25em;
        max-height: 0;
        overflow: hidden;
    }

    &__description {
        margin-bottom: 0;
        padding: 1rem;
        max-width: 36ch;

        &:not(:last-child) {
            padding-bottom: 0;
        }
    }
}